<div class="card h-100">
  <div
    class="card-body position-relative d-flex flex-column justify-content-between align-items-start my-auto mx-0"
  >
    <h5 class="title text-uppercase font-weight-bold">{{ data.title }}</h5>
    <div class="value">
      <legend class="m-0">
        {{ data.value }}
        <span *ngIf="data.of" class="small">/ {{ data.of }}</span>
      </legend>
      <p class="text-muted m-0">{{ data.unit }}</p>
    </div>
    <p [ngStyle]="{ color: data.rate.charAt(0) === '-' ? 'red' : 'green' }">
      {{ data.rate }}
    </p>
  </div>
</div>
