<div class="row m-0 h-100 w-100">
  <div class="sidebar col-lg-2 px-0 text-white">
    <app-sidebar></app-sidebar>
  </div>
  <div class="col-lg-10 p-0">
    <app-analytics></app-analytics>
  </div>
</div>
