<nav class="navbar navbar-expand-md navbar-dark">
  <div class="container">
    <a routerLink="/" class="navbar-brand">ClientPanel</a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarMain"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarMain">
      <ul class="navbar-nav" *ngIf="isLoggedIn">
        <li class="nav-item" *ngFor="let navbarTab of navbarTabs">
          <a
            routerLink="/{{ navbarTab }}"
            routerLinkActive="is-active"
            class="nav-link"
            [ngStyle]="{
              opacity: selectedTab === navbarTab ? '1' : '0.5',
              color: 'white'
            }"
            >{{ navbarTab }} <img src="/assets/images/down_arrow.png"
          /></a>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto">
        <li *ngIf="isLoggedIn === false && showRegister" class="nav-item">
          <a routerLink="/register" class="nav-link">Register</a>
        </li>
        <li *ngIf="isLoggedIn === false && showRegister" class="nav-item">
          <a routerLink="/login" class="nav-link">Login</a>
        </li>
        <li
          *ngIf="isLoggedIn"
          class="nav-item user-profile d-flex justify-content-center align-items-center rounded-circle"
          (click)="toggleProfileModal()"
          [ngStyle]="{
            'background-color':
              profileModalOpen === true
                ? 'rgb(78, 103, 141)'
                : 'rgb(39, 59, 89)'
          }"
        >
          <i class="fa fa-user" aria-hidden="true"></i>
        </li>
        <div *ngIf="profileModalOpen && isLoggedIn" class="profileModal">
          <a href="#" class="nav-link">{{ loggedInUser }}</a>
          <a href="" (click)="onLogoutClick($event)" class="nav-link">Logout</a>
        </div>
      </ul>
    </div>
  </div>
</nav>
