@import "../../constants/variables";
@import "../../constants/functions";

nav.navbar {
  background-color: lighten($color: $primary-color, $amount: 1.3) !important;
  // rgba(39, 59, 89, 0.97)
  @include box-shadow(0px 3px 10px 0px rgba(0, 0, 0, 0.8));
  min-height: $navbar-height;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;

  .container {
    max-width: $container-max-width !important;
    padding-left: 20%;

    .navbar-brand {
      position: absolute;
      left: 3%;
    }

    .navbar-nav {
      .nav-item.user-profile {
        width: 40px;
        height: 40px;

        i {
          font-size: 30px;
          color: lightgoldenrodyellow;
          cursor: pointer;
        }
      }

      .profileModal {
        position: absolute;
        right: 0;
        top: 55px;
        background-color: white;
        z-index: 5;
        @include box-shadow(-2px 2px 10px 0px rgba(0, 0, 0, 0.8));
        border-radius: 0 0 10px 10px;

        a {
          color: gray;
          &:hover {
            color: #5e3636;
          }
        }
      }
    }
  }
}
