<div class="row mt-5 login-container">
  <div class="col-md-5 mx-auto">
    <div class="card">
      <div class="card-body">
        <h1 class="text-center pb-4 pt-3">
          <span class="text-primary">
            <i class="fa fa-lock"></i>
            Client Panel
          </span>
          Login
        </h1>
        <form (submit)="onSubmit()">
          <div class="form-group">
            <label for="email">Email</label>
            <input
              type="email"
              name="email"
              [(ngModel)]="email"
              class="form-control"
              required
            />
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input
              type="password"
              name="password"
              [(ngModel)]="password"
              class="form-control"
              required
            />
          </div>
          <input
            type="submit"
            value="Login"
            class="btn btn-primary btn-block"
          />
        </form>
      </div>
    </div>
  </div>
</div>
