<div class="analytics-container container-fluid h-100 pl-0">
  <div class="m-0">
    <div class="row pt-4">
      <div class="col-lg-6">
        <app-pie-chart></app-pie-chart>
      </div>
      <div class="col-lg-6 d-flex">
        <app-numbers-view
          class="col-4 p-0"
          *ngFor="let data of numbersData"
          [data]="data"
        ></app-numbers-view>
      </div>
      <div class="col-12 mt-4">
        <app-bar-chart></app-bar-chart>
        <div class="bg-white">
          <apx-chart
            [series]="chartOptions.series"
            [chart]="chartOptions.chart"
            [dataLabels]="chartOptions.dataLabels"
            [plotOptions]="chartOptions.plotOptions"
            [responsive]="chartOptions.responsive"
            [xaxis]="chartOptions.xaxis"
            [legend]="chartOptions.legend"
            [fill]="chartOptions.fill"
          ></apx-chart>
        </div>
      </div>
    </div>
  </div>
</div>
