@import "../../constants/variables";

input.text-filter-input {
  background-color: darken($color: $primary-color, $amount: 0.2);
  max-width: 100%;
  width: 100%;
  color: white;
  outline: none;
  padding: 1px 10px;
  font-size: 16px;

  &::-webkit-input-placeholder {
    color: #9f9f9f;
  }
}
.filters {
  & > div:nth-child(2) {
    width: min-content;

    button.reset-btn {
      width: 40px;
      height: 20px;
      font-size: $sidebar-title-font-size;
    }
  }
}
.filter {
  font-size: $sidebar-title-font-size;
  position: relative;
  cursor: pointer;
  border-bottom: 1px solid #115;
  padding: 10px 20px;

  .fa-chevron-right {
    position: absolute;
    top: 20px;
    right: 20px;
  }

  .filter-title {
    color: #8091ad;
    font-size: $sidebar-title-font-size;
  }

  .filter-by {
    font-size: $sidebar-title-font-size;
  }
}
