<div class="filter mb-4">
  <div class="d-flex justify-content-between align-items-center mb-2 filters">
    <span class="text-uppercase label">Filters</span>
    <div class="m-0 d-flex align-items-center">
      <span class="text-info">100:</span>1973
      <button
        class="reset-btn btn btn-info text-uppercase d-flex justify-content-center align-items-center p-0 ml-1"
      >
        reset
      </button>
    </div>
  </div>
  <input
    type="text"
    name="filter"
    placeholder="Text Filter"
    class="text-filter-input text-capitalize m-auto d-block border-0"
  />
</div>
<div class="filter mb-3 filter-select">
  <div class="filter-title">FILTER TITLE</div>
  <div class="filter-by">
    North East
  </div>
  <i class="fa fa-chevron-right" aria-hidden="true"></i>
  <i class="fa fa-chevron-down" aria-hidden="true" style="display: none;"></i>
</div>
<div class="filter mb-3 filter-select">
  <div class="filter-title">FILTER TITLE</div>
  <div class="filter-by">
    North East
  </div>
  <i class="fa fa-chevron-right" aria-hidden="true"></i>
  <i class="fa fa-chevron-down" aria-hidden="true" style="display: none;"></i>
</div>
<div class="filter mb-3 filter-select">
  <div class="filter-title">FILTER TITLE</div>
  <div class="filter-by">
    North East
  </div>
  <i class="fa fa-chevron-right" aria-hidden="true"></i>
  <i class="fa fa-chevron-down" aria-hidden="true" style="display: none;"></i>
</div>
<div class="filter mb-3 filter-select">
  <div class="filter-title">FILTER TITLE</div>
  <div class="filter-by">
    North East
  </div>
  <i class="fa fa-chevron-right" aria-hidden="true"></i>
  <i class="fa fa-chevron-down" aria-hidden="true" style="display: none;"></i>
</div>
<div class="filter mb-3 filter-select">
  <div class="filter-title">FILTER TITLE</div>
  <div class="filter-by">
    North East
  </div>
  <i class="fa fa-chevron-right" aria-hidden="true"></i>
  <i class="fa fa-chevron-down" aria-hidden="true" style="display: none;"></i>
</div>
