/* You can add global styles to this file, and also import other style files */
html {
  height: 100%;
}

body {
  height: 100%;
}

.row {
  margin: 0 !important;
}

.alert p {
  margin: 0;
  padding: 0;
}

.flash-messages .flash-message {
  margin: 0 !important;
}
