<div class="p-4 bg-white">
  <h5>Status History</h5>
  <div class="canvas-wrapper position-relative">
    <canvas
      class="mx-auto"
      baseChart
      [data]="doughnutChartData"
      [labels]="doughnutChartLabels"
      [chartType]="doughnutChartType"
      [options]="options"
    >
    </canvas>
  </div>
</div>
